/*? Navbar section  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: var(--white-backcolor);
  > h2 {
    color: var(--text-color);
  }
  > .modecolor {
    border: none;
    display: flex;
    align-items: center;
    background-color: var(--white-backcolor);
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    color: var(--text-color);
    cursor: pointer;
    > svg {
      fill: var(--text-color);
    }
  }
}
/*!    Header section  */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 50px;
}
/* !   Header input section */
.header__filt {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--white-backcolor);
  width: 35vw;
  padding: 15px 20px;
  border-radius: 10px;
  ::placeholder {
    color: var(--text-color);
  }
}
.header__filt-input {
  color: var(--text-color);
  width: 80%;
  background-color: var(--white-backcolor);
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  outline: none;
}
/* !   Header search region section */
.header__regions__container {
  padding: 15px 20px;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.05);
  color: var(--text-color);
  background-color: var(--white-backcolor);
  cursor: pointer;
}

/* !  Country container section */
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
  padding-bottom: 40px;
}
.main__country {
  width: 270px;
  height: 325px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--white-backcolor);
}
.main__flag > img {
  width: 270px;
  height: 160px;
}

.main__country-name {
  padding-left: 10%;
  padding-top: 20px;
  padding-bottom: 40px;
  > h2 {
    font-size: 18px;
    padding-bottom: 15px;
    color: var(--text-color);
  }
  > h4 {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 8px;
    > span {
      font-weight: 300;
    }
  }
}
